<div class="wrapper">
  <div class="header">
    <i class="back icon-arrow"></i>
    <figure>
      <img src="assets/img/man.png" alt="Profile pic">
    </figure>
    <h3>Trafalgar Law</h3>
  </div>

  <div class="messages">
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
  </div>

  <div class="inputs">
    <div class="text">
      <input type="text" name="message" id="message-box" placeholder="Escribe acá">
    </div>
    <div class="others">
      <i class="icon-upload-image"></i>
      <i class="icon-sent"></i>
    </div>
  </div>
</div>
