<div class="wrapper">
  <div class="header">
    <i class="back icon-arrow"></i>
    <figure>
      <img src="assets/img/man.png" alt="Profile pic">
    </figure>
    <h3>Trafalgar Law</h3>
  </div>

  <div class="messages">
    <app-message *ngFor="let message of messages" [message]="message"></app-message>
  </div>

  <form [formGroup]="form"  class="inputs">
    <div class="text">
      <input type="text"
             autofocus
             id="message-box"
             placeholder="Escribe acá"
             formControlName="message"
             (keydown.enter)="sentMessage()">
    </div>
    <div class="others">
      <i class="icon-upload-image"></i>
      <i class="icon-sent" (click)="sentMessage()"></i>
    </div>
  </form>
</div>
